*~
.classpath
.project
target
.settings
.DS_Store
.faces-config.xml.jsfdia
MANIFEST.MF
.idea
*.iml
*.jar
RemoteSystemsTempFiles
bin
*.vcxproj
*.filters
*.user
Debug/
*.dat
.vs/
*.sln
*.opendb
